
<form action="/api/sessions/current" method="post">
{{#if error}}
<div style="color: red;"> {{error}} </div>
{{/if}}
<a href="/api/sessions/github">Iniciar sesion con github</a>
  <input type="email" name="email" placeholder="email" value="{{user}}"/>
  <input type="password" name="password" placeholder="Contraseña"/>
  <input type="submit" value="enviar">

  <a href="/recupero01">Olvidaste tu contraseña?</a>
</form>